.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    padding: 10px;
    background-color: rgb(210, 235, 255);
    width: 100%;
}

.navLogo {
    max-height: 2rem;
    width: 10px;
}